<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">

	<input type="button" class="btn btn-success" value="voltar" onclick="history.go(-2)">
		
</section>
<!-- Main content -->
<section class="content" style="text-align: center;">
	<div>
		<h3 style="margin-bottom: 1em">Cores Cadastradas</h3>
		<table class="table table-striped" style="text-align: center;margin: 0 auto; width: 50%;">
			<thead>
				<tr>
					<td><strong>Imagem Prod</strong></td>
					<td><strong>Cor</strong></td>
					<td><strong>Cod. Modelo</strong></td>
					<td><strong>Disponível</strong></td>
				</tr>
			</thead>
			{loop="$infomodelo"}
				<tr>
					<td><img src="https://www.bebefofuxo.com.br/lojas/00020368/prod/{$value.imagem_prod}" style="height: 10%; border:solid 1px black;"></td>
					<td>{$value.nome_cor}</td>
					<td>{$value.cod_prod}</td>
					<td>{if="$value.disponivel == 1"}Sim{else}Não{/if}</td>
				</tr>
			{/loop}
		</table>
		<h3> Deseja ativar alguma cor? </h3>
		<a href="/admin/cores-corretas">
			<input type="submit" class="btn btn-success" name="btnNão" value="Não">
		</a>
		<a href="/admin/cores-indisponiveis">
			<input type="submit" class="btn btn-success" name="btnSim" value="Sim">
		</a>
	<div>
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->