<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
</section>
<!-- Main content -->
<section class="content">
  	<div class="row">
  	<div class="col-md-12">
  		<div class="box box-primary">
            <div class="box-header">
            </div>
            <div class="box-body no-padding">
              <table class="table table-striped tabela-responsiva">
              	<tbody>
		  			      {loop="$info"}
  			  				  <tr>
  			  					  <th><center>{$value}</center></th>
  			  				  </tr>
		  			      {/loop}
	  			      </tbody>
		  		    </table>
              <br>
		  		    <center><a href="/admin/contagens-tratamento" class="btn btn-primary btn-success">Voltar</a></center>
		  		    <br>
            </div>
            <!-- /.box-body -->
          </div>
  	</div>
  </div>
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
