<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
	<h3>Contagens</h3>
</section>
<!-- Main content -->
<section class="content">
 <div class="row">
  	<div class="col-md-12">
  		<div class="box box-primary">
            <div class="box-header">
            </div>
            <div class="box-body no-padding">
              <form action="/admin/gerar-planilha" method="post">
                <table class="table table-striped tabela-responsiva">
                  <thead>
                    <tr>
                      <th><center>Selecionar</center></th>
                      <!-- <th><center>#</center></th> -->
                      <th><center>Cod. Modelo</center></th>
                      <th><center>Data Abertura</center></th>
                      <th><center>Hora Inicio</center></th>
                      <th><center>Hora Fim</center></th>
                      <th><center>Adm</center></th>
                      <th><center>Status</center></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    {loop="$info"}
                    <tr>
                      <th>{if="$value.desc_status == 'Contagem Verificada'"}<center><input type="checkbox" name="{$value.id_contagem}"></center>{/if}</th>
                      <!-- <th><center>{$value.id_contagem}</center></th> -->
                      <th><center>{$value.cod_modelo}</center></th>
                      <th><center>{$value.data_cont}</center></th>
                      <th><center>{$value.hora_inicio}</center></th>
                      <th><center>{$value.hora_fim}</center></th> 
                      <th><center>{$value.nome_usuario}</center></th>
                      <th>
                        <center>
                          {if="$value.desc_status == 'Contagem Com Erro'"}
                            <label style="color: red;">
                              Contagem Com Erro
                            </label>
                          {elseif="$value.desc_status == 'Contagem Verificada'"}
                            <label style="color: #069453">
                              {$value.desc_status}
                            </label>
                          {else}
                            {$value.desc_status}
                          {/if}
                        </center></th>
                      <th>                      
                        {if="$value.desc_status == 'Aguardando Verificacao'"}
                        <a href="/admin/verificar-contagem/{$value.id_contagem}" class="btn-verde btn btn-xs"><i class="fa fa-pen"></i>Verificar</a>&nbsp
                      	
                        {elseif="$value.desc_status == 'Contagem Com Erro'"}
                        <a href="/iniciar-recontagem/{$value.cod_modelo}/{$value.id_contagem}" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i> Recontar</a>

                        {elseif="$value.desc_status == 'Contagem Verificada'"}
                        <a href="/admin/ver-finalizada/{$value.id_contagem}" class="btn btn-primary btn-xs">Ver</a>

                        {/if}
                        <a href="/admin/ver-contagens/{$value.id_contagem}/delete" onclick="return confirm('Deseja realmente excluir este registro?')" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                      </th>
                    </tr>
                    {/loop}
                  </tbody>
                </table>
                <center><input type="submit" id="btnGerar" class="btn btn-success" value="Gerar Planilha"></center>
                <br>
              </form>
            </div>
            <!-- /.box-body -->
          </div>
  	</div>
  </div>
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->