.tabela-responsiva thead th {
    font-weight: normal;
    background-color: #3c8dbc;
    color: #fff;
    font-size: 15px;
 }

@media (max-width: 768px){

	.tabela-responsiva{
		width: 50%;
	}
}

@media (max-width: 1110px){

	.tabela-responsiva{
		width: 50%;
	}
}